name: "Protoc"

on:
  push:
    branches:
      - main

jobs:
  protoc:
    name: "Protoc Generate"
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - uses: actions/checkout@v2
      - name: "Generate for Go"
        run: |
          sudo apt-get install -y protobuf-compiler golang-goprotobuf-dev
          go get -u github.com/golang/protobuf/{proto,protoc-gen-go}
          protoc --go_out=./go --go_opt=paths=source_relative --go-grpc_out=./go --go-grpc_opt=paths=source_relative ./**/*.proto